	<h2 class="new-section-title">Profile</h2>
		<div class="profile-box">
			<%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg",class:"edit_profile_image profile_image" %>
			<p class="show_username"><%= user.name %></p>
			<% if current_user == user %>
			<%= link_to edit_user_path(user), class:"rofile-edit-btn" do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			<% end %>
			<% end %>
			<%= simple_format(user.body, class:"show_usertext") %>
		</div>

	<h2 class="new-section-title">NEW BOOK</h2>
	<%= form_for(book) do |f| %>
	<%= f.text_field :title, placeholder:"Title" %>
	<%= f.text_area :body, placeholder:"Comment" %>

	<%= f.submit %>
	<% end %>
